# Node.js
node_modules/
npm-debug.log
npm-debug.log.*
yarn-error.log
yarn.lock
package-lock.json
*.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
build/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Rust
/target/
**/*.rs.bk

# Ruby
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
.test
.rspec
.ruby-version
.ruby-gemset
/.bundle
/vendor/bundle
/lib/bundler/man
.rvmrc
.rbenv-version
.rbenv-gemsets

# Ignore Byebug command history file.
.byebug_history

# Environment normalization:
/.env
/.venv
/.rbenv
/.rvm
.DS_Store


/articles
/guides
/infographics
/presentations